/* Tage selecters */
body {
    background-color: rgb(215, 165, 182);
}
hr {
    border: none;
}
h1 {
    color: blue;
    font-size: 50px;
}
p {
    color: rgba(77, 10, 10, 0.837);
}

/* Class selecters */
.apple {
    background-color: rgb(65, 118, 65);
}
.burger {
    background-color: rgb(186, 53, 53);
}

/* ID selecters */

#heading {
    color: yellow;
}

/* Pseudo Class selecters */

img:hover {
    background-color: yellow;
}